*.pyc
*.rar
*.gz
*.patch
*.o
*.d
*.P
*.a
*.moc
src/protocol/qt/plugin/build/
src/AIMGui
src/AIMTool
src/AlphaIM
src/config.h
src/config.log
src/config.mak
src/config.mak.qt
src/gui/build-qt-Desktop-Debug/
src/gui/qt/qt.pro.user
src/lib/kary_tree/test
